@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');
@import "tailwindcss";

@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(circle at center, #40c9a2, #2f80ed);
  }
  
  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
